<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="footer">
        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://github.com/smallclover">
                                    <span class="fa-stack fa-lg">
                                      <i class="fas fa-circle fa-stack-2x"></i>
                                      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">
                            <strong>Copyright &copy; 2019-2020 <a href="http://nullpointerexception.cf">NullPointerException</a>.</strong>
                            All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </th:block>
</body>
</html>