<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="navbar(top_poster, bottom_content)">
        <!-- Page Header -->
        <header class="masthead" style="background-image: url('/blog/img/about_bg.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>[[${top_poster}]]</h1>
                            <span class="subheading">[[${bottom_content}]]</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </th:block>
</body>
</html>