<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
    <footer class="main-footer" th:fragment="footer(settingDto)">
        <strong>Copyright &copy; 2019-2020 <a href="http://nullpointerexception.cf">[[${settingDto.siteName}]]</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> [[${settingDto.appVersion}]]
        </div>
    </footer>
</body>
</html>