<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallclover.nullpointerexception.mapper.TagMapper">

    <resultMap id="articleTagCategory" type="com.smallclover.nullpointerexception.model.ArticleTagCategory">
        <result property="articleId" column="article_id" />
        <result property="tagId" column="tag_id" />
        <result property="tagName" column="tag_name" />
        <result property="categoryId" column="category_id" />
        <result property="categoryName" column="category_name" />
    </resultMap>

    <insert id="insertTags">
        INSERT INTO tag (tag_name, update_time, create_time, delete_flag)
        VALUES
        <foreach collection="list" item="tag" separator=",">
            (#{tag.tagName}, #{tag.updateTime}, #{tag.createTime}, #{tag.deleteFlag})
        </foreach>
    </insert>

    <select id="getTagsByTagNames" resultMap="tag">
        SELECT * FROM tag WHERE tag.tag_name IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getArticlesByTagName" resultMap="com.smallclover.nullpointerexception.mapper.ArticleMapper.article">
        SELECT
            *
        FROM
            tag
                INNER JOIN
            tag_article ta ON tag.id = ta.tag_id
                INNER JOIN
            article a ON ta.article_id = a.id
        WHERE tag_name = #{tagName}
    </select>

</mapper>